#seitenGrid{
    display: grid;
    grid-template-rows: repeat(4, 202px);
    grid-auto-columns: 810px 300px;
}

#punkteRot{
    grid-row: 1;
    grid-column: 2;
    background-color: #F37673;
    margin: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    font-family: Arial;
    font-size: 30px;
    border-radius: 15px;
}
#punkteGelb{
    grid-row: 2;
    grid-column: 2;
    background-color: #EEB72F;
    margin: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    font-family: Arial;
    font-size: 30px;
    border-radius: 15px;
}
#aktuellerSpieler{
    grid-row: 3;
    grid-column: 2;
    background-color: thistle;
    margin: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    font-family: Arial;
    font-size: 30px;
    border-radius: 15px;
}

#spielfeld{
    grid-row: 1/5;
    grid-column: 1;
    display: grid;
    background-color: #1F46D2;
    border-style: solid;
    border-width: 5px;
    border-color: #1F46D2;
    border-radius: 15px;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: fit-content;
}

.backgroundS1{
    background-color: #FA3638;
    color: #FA3638;
}

.backgroundS2{
    background-color: #EEDC4B;
    color: #EEDC4B;
}

#footer{
    display: grid;
    grid-template-columns: 600px 200px;
    grid-template-rows: 100px;
}

#gewinnerFeld{
    grid-column: 1;
    grid-row: 1;
    margin: 3px;
    border-style: solid;
    border-width: 0px;
    background-color: #9795A3;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 50px;
    font-family: Arial;
    border-radius: 15px;
}

#resetFeld{
    grid-column: 2;
    grid-row: 1;
    margin: 3px;
    background-color: #CA5045;
    font-family: Arial;
    text-align: center;
    font-size: 50px;
    border-style: solid;
    border-width: 0px;
    border-radius: 15px;
}

#resetFeld:hover{
    background-color: #455dca;
    cursor: pointer;

}

.feld{
    margin: 3px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid;
    border-color: black;
    font-size: 50px;
    border-radius: 50%;
}

.feld-click:hover{
    background-color: hsl(202, 16%, 52%);
    color: hsl(202, 16%, 52%);
    cursor: pointer;
}

.feld:disabled{
    margin: 3px;
    border: none;
    color: white;
    background-color: white;
    padding: 15px 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid;
    border-color: black;
    transition-duration: 0.4s;
    font-size: 50px;
    border-radius: 100px;
    cursor: default;
}

.animation{
    animation: gewinnerFrame 0.5s infinite;
}

@keyframes gewinnerFrame{
    0% {margin: 2px;}
    50% {margin: 10px;}
    100% {margin: 2px;}
}